.hidden {
    display: none !important;
}

.router-container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: overlay;
    overflow-x: hidden;
    position: relative;
    z-index: 3;
}

.base-table-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.filter-sidenav {
    background: var(--dialog-color);
    border-left: solid 1px var(--divider-color);
    position: relative;
    z-index: 4;
}

.spinner-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

