:root {
    --primary: #3f51b5;
    --light-blue: #2f80ed;
    --shadow: #c1c1c1;
    --dark-font: #333;
    --light: #fff;
    --square-bg: #c4c4c4;
    --black: #000;
    --header-row: rgb(124 95 192 / 3%);
}
