<mat-accordion [formGroup]="formGroupControl" multi>

    <mat-expansion-panel #panel1>
        <mat-expansion-panel-header tabindex="-1">
            <mat-panel-title>
                Фильтр по названию
            </mat-panel-title>

            <mat-panel-description
                [ngClass]="!panel1.expanded && names?.length > 0
                           ? 'show-chips-count' : 'hide-chips-count'">

                <mat-chip-option
                    *ngIf="namesLen > 0"
                    class="primary-chips-count"
                    color="primary"
                    selected
                    (click)="togglePanel(panel1)">
                    {{namesLen}}
                </mat-chip-option>

                <mat-chip-option
                    *ngIf="names?.length - namesLen > 0"
                    class="chips-count"
                    (click)="togglePanel(panel1)">
                    {{names?.length - namesLen}}
                </mat-chip-option>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field style="width: 100%">
            <mat-label>Введите название</mat-label>

            <mat-chip-grid #chipsList1>

                <mat-chip-row
                    *ngFor="let name of names; let ind = index"
                    [ngClass]="{'primary-chips': ind < namesLen, 'base-chips': ind >= namesLen}"
                    selectable
                    removable
                    (removed)="remove('name', name)">
                    {{name}}
                    <mat-icon [ngClass]="{'primary-close': ind < namesLen}" matChipRemove>cancel</mat-icon>
                </mat-chip-row>

                <input
                    id="name"
                    formControlName="name"
                    placeholder="Введите..."
                    autocomplete="off"
                    [matChipInputFor]="chipsList1"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">

            </mat-chip-grid>

            <button
                *ngIf="formGroupControl.controls.name.value || names.length"
                tabindex="-1"
                matSuffix
                mat-icon-button
                (click)="clearField('name')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel #panel2>
        <mat-expansion-panel-header tabindex="-1">
            <mat-panel-title>
                Фильтр по названию кода поставки
            </mat-panel-title>

            <mat-panel-description
                [ngClass]="!panel2.expanded && supplyCodeNames?.length > 0
                           ? 'show-chips-count' : 'hide-chips-count'">

                    <mat-chip-option
                        *ngIf="supplyCodeNamesLen > 0"
                        class="primary-chips-count"
                        color="primary"
                        selected
                        (click)="togglePanel(panel2)">
                        {{supplyCodeNamesLen}}
                    </mat-chip-option>

                    <mat-chip-option
                        *ngIf="supplyCodeNames?.length - supplyCodeNamesLen > 0"
                        class="chips-count"
                        (click)="togglePanel(panel2)">
                        {{supplyCodeNames?.length - supplyCodeNamesLen}}
                    </mat-chip-option>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field style="width: 100%">
            <mat-label>Введите название кода поставки</mat-label>

            <mat-chip-grid #chipsList2>

                <mat-chip-row
                    *ngFor="let supplyCodeName of supplyCodeNames; let ind = index"
                    [ngClass]="{'primary-chips': ind < supplyCodeNamesLen, 'base-chips': ind >= supplyCodeNamesLen}"
                    selectable
                    removable
                    (removed)="remove('supplyCodeName', supplyCodeName)">
                    {{supplyCodeName}}
                    <mat-icon [ngClass]="{'primary-close': ind < supplyCodeNamesLen}" matChipRemove>cancel</mat-icon>
                </mat-chip-row>

                <input
                    id="supplyCodeName"
                    formControlName="supplyCodeName"
                    placeholder="Введите..."
                    autocomplete="off"
                    [matChipInputFor]="chipsList2"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">

            </mat-chip-grid>

            <button
                *ngIf="formGroupControl.controls.supplyCodeName.value || supplyCodeNames.length"
                tabindex="-1"
                matSuffix
                mat-icon-button
                (click)="clearField('supplyCodeName')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel #panel3 (click)="$event.stopPropagation()">
        <mat-expansion-panel-header tabindex="-1">
            <mat-panel-title>
                Фильтр по названию системы
            </mat-panel-title>

            <mat-panel-description
                [ngClass]="!panel3.expanded && formGroupControl.controls.controllers.value?.length > 0
                           ? 'show-chips-count' : 'hide-chips-count'">

                <mat-chip-option
                    *ngIf="controllersLen > 0"
                    class="primary-chips-count"
                    color="primary"
                    selected
                    (click)="togglePanel(panel3)">
                    {{controllersLen}}
                </mat-chip-option>

                <mat-chip-option
                    *ngIf="formGroupControl.controls.controllers.value?.length - controllersLen > 0"
                    class="chips-count"
                    (click)="togglePanel(panel3)">
                    {{formGroupControl.controls.controllers.value?.length - controllersLen}}
                </mat-chip-option>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field style="width: 100%">
            <mat-label>Введите название системы</mat-label>

            <mat-select formControlName="controllers" multiple>
                <mat-select-trigger>

                    <mat-chip-grid #chipsList3>
                        <mat-chip-option
                            *ngFor="let controller of formGroupControl.controls.controllers.value; let ind = index"
                            [ngClass]="{'primary-chips': ind < controllersLen, 'base-chips': ind >= controllersLen}"
                            selectable
                            removable
                            (removed)="remove('controller', controller)"
                            [value]=controller.id>
                            {{controller.name}}
                            <mat-icon [ngClass]="{'primary-close': ind < controllersLen}" matChipRemove>cancel</mat-icon>
                        </mat-chip-option>
                    </mat-chip-grid>

                </mat-select-trigger>

                <mat-option
                    *ngFor="let record of controllerList"
                    [value]="record">
                    {{record.name}}
                </mat-option>

            </mat-select>

            <button
                *ngIf="this.formGroupControl.controls.controllers.value?.length"
                tabindex="-1"
                matSuffix
                mat-icon-button
                (click)="$event.stopPropagation() || clearField('controllers')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </mat-expansion-panel>

    <mat-autocomplete #none="matAutocomplete"></mat-autocomplete>

</mat-accordion>
