<div class="form-fields" [formGroup]="formGroupControl">

    <mat-form-field class="create-form">

        <mat-label>Введите название</mat-label>

        <input matInput formControlName="name" type="text" autocomplete="off" cdkFocusInitial>

        <button tabindex="-1" *ngIf="curData.name" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('name')">
            <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="formGroupControl.controls.name.hasError('required')">
            Необходимо заполнить это поле
        </mat-error>

    </mat-form-field>

    <mat-form-field class="create-form">

        <mat-label>Введите дату начала</mat-label>

        <input matInput formControlName="startDate" type="date">

        <button tabindex="-1" *ngIf="curData.startDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('startDate')">
            <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="formGroupControl.controls.startDate.hasError('required')">
            Необходимо заполнить это поле
        </mat-error>

    </mat-form-field>

    <mat-form-field class="create-form">

        <mat-label>Введите дату конца</mat-label>

        <input matInput formControlName="endDate" type="date" autocomplete="off">

        <button tabindex="-1" *ngIf="curData.endDate" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('endDate')">
            <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="formGroupControl.controls.endDate.hasError('required')">
            Необходимо заполнить это поле
        </mat-error>

    </mat-form-field>

    <mat-form-field class="create-form">

        <mat-label>Введите код</mat-label>

        <input matInput formControlName="code" type="text" autocomplete="off">

        <button tabindex="-1" *ngIf="curData.code" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('code')">
            <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="formGroupControl.controls.code.hasError('required')">
            Необходимо заполнить это поле
        </mat-error>

    </mat-form-field>

    <mat-form-field class="create-form">

        <mat-label>Название системы</mat-label>

        <mat-select formControlName="controllerId">
            <mat-option *ngFor="let record of controllerList" [value]="record.id">
                {{record.name}}
            </mat-option>
        </mat-select>

        <mat-error *ngIf="formGroupControl.controls.controllerId.hasError('required')">
            Необходимо заполнить это поле
        </mat-error>

    </mat-form-field>
</div>
